<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Libros</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Listado de Libros</h1>
    <a th:href="@{/libros/nuevoLibros}" class="btn btn-primary mb-3">Agregar Libro</a>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Editorial</th>
            <th>Género</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="libro : ${listarLibros}">
            <td th:text="${libro.id}"></td>
            <td th:text="${libro.titulo}"></td>
            <td th:text="${libro.autor}"></td>
            <td th:text="${libro.editorial}"></td>
            <td th:text="${libro.genero}"></td>
            <td>
                <!-- Botón de actualizar -->
                <a th:href="@{/libros/actualizarLibros/{id}(id=${libro.id})}" class="btn btn-primary btn-sm">Actualizar</a>
                <!-- Botón de eliminar -->
                <a th:href="@{/libros/eliminarLibros/{id}(id=${libro.id})}" class="btn btn-danger btn-sm"
                   onclick="return confirm('¿Estás seguro de que deseas eliminar este libro?');">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
